# Haskell
.dist-newstyle/
/dist-newstyle
_cache/
_site/

# Nix
result
.direnv/
.pre-commit-config.yaml

# Fucking macOS
.DS_Store

# deno artifacts for the KaTeX self-contained
blog/vendor
blog/import_map.json
