<noscript>
    <div class="admonition warning">
        <div class="admonition-icon admonition-icon-warning">
        </div>
        <div class="admonition-content">
            <strong class="admonition-title">
                Evil JavaScript
            </strong>
            <p>
                This post uses <a href="https://katex.org/">KaTeX</a> to render mathematical expressions.
            </p>
            <p>
                To see the rendered mathematical expressions, you’ll need to enable JavaScript.
            </p>
        </div>
    </div>
</noscript>