<noscript>
    <div class="admonition warning">
        <div class="admonition-icon admonition-icon-warning">
        </div>
        <div class="admonition-content">
            <strong class="admonition-title">
                Evil JavaScript
            </strong>
            <p>
                This post uses <a href="https://mermaid.js.org">Mermaid</a> to render flowcharts.
            </p>
            <p>
                To see the rendered flowcharts, you’ll need to enable JavaScript.
            </p>
        </div>
    </div>
</noscript>
