div.csl-left-margin {
    display: inline;
}

div.csl-right-inline {
    display: inline;
}

/* Align citations to the top. */
div#refs td {
    vertical-align: top;
}

/* Add spacing between reference entries */
#refs table {
    border-spacing: 0 2rem;
    border-collapse: separate;
}

/* No justification for references, as otherwise it's rivers galore. */
div#refs {
    text-align: left;
}
