name: Markdown Links Check
# runs every monday at 9 am
on:
  pull_request:
    branches: ["**"]
  schedule:
    - cron: "0 9 * * 1"
  workflow_dispatch: null

permissions: {}

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
        with:
          persist-credentials: false
      - uses: tcort/github-action-markdown-link-check@e7c7a18363c842693fadde5d41a3bd3573a7a225 # v1.1.2
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
          config-file: ".mlc_config.json"
          folder-path: "blog/posts"
          max-depth: 5
