name: Markdown Links Check
# runs every monday at 9 am
on:
  pull_request:
    branches: ["**"]
  schedule:
    - cron: "0 9 * * 1"
  workflow_dispatch: null

permissions: {}

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          persist-credentials: false
      - uses: tcort/github-action-markdown-link-check@f3d33029dca1c4a24b87e2df648f9f4604ef6533 # v1.1.1
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
          config-file: ".mlc_config.json"
          folder-path: "blog/posts"
          max-depth: 5
